.contact-container {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: none;
}

.submit-btn {
  background: linear-gradient(90deg, #388d66, #78c52b);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.contact-info {
  margin-top: 20px;
  font-size: 1.1rem;
}

.contact-info a {
  color: #388d66;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}
