.nav-bar {
  position: fixed;
  width: 100%;
  height: fit-content;
  background: #647079;
  top: 0;
  z-index: 100;
  padding: 0.5rem;
  box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, 0.6));

  .nav-link {
    color: #d0d0d0;
  }
  .nav-link:hover {
    color: rgb(147, 157, 171);
  }
  .active {
    color: #66cd00;
  }
}
.container {
  padding: 3em;
}
.content {
  margin-top: 4em;
}
