<div class="container text-white bg-secondary">
  <div class="about-header">
    <h3>Rucha Saraf</h3>
  </div>
  <div class="d-flex flex-row">
    <div class="description-container">
      <p>Front End Web Developer</p>
      <p>Email:</p>
      <p>rucha.gsaraf@gmail.com</p>
      <p>Location:</p>
      <p><span class="location-icon"></span>&nbsp; Dublin, Ireland</p>
    </div>

    <div class="image-container">
      <img src="./../../assets/images/EdittedProfile.png" />
    </div>
    <div class="about-container">
      <h4>About Me</h4>
      <p>
        I am an allround web developer. I am a senior programmer with good
        knowledge of front-end techniques. I love structure and order and I also
        stand for quality. I love spending time on fixing little details and
        optimizing web apps. Also I like working in a team, you'll learn faster
        and much more. As the saying goes: 'two heads are better than one'.
      </p>
    </div>
  </div>
  <div class="about-footer">
    <a
      href="../../../../../assets/doc/Rucha Saraf.pdf"
      download="Rucha_Saraf.pdf"
    >
      <button class="footer-action-btn">Download</button></a
    >

    <!-- <button class="footer-action-btn" >
           <a href="/assets/doc/Rucha Saraf.pdf" download>
            <a href="src/assets/doc/Rucha Saraf.pdf" download="Swapnil.pdf"><button>Download 2</button></a>
             Download the latest newsletter</a>DOWNLOAD RESUME </button> -->
  </div>
</div>
